body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
               'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
}

.gittest {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-size: 1.8rem;
   color: rgb(46, 82, 150);
   margin: 0 auto;
   background-color: cornflowerblue;
   min-height: 100vh;
}

.btnBox {
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn, .btn2{
  width: 120px;
  height: 40px;
  border-style: none;
  border-top: 1px solid rgb(135, 173, 243);
  border-bottom: 1px solid rgb(43, 79, 145);
  background-color: rgb(32, 60, 114);
  font-size: 1rem;
  color: rgb(166, 189, 231);
  margin-top: 20px;
  cursor: pointer;
}

.pageone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: cornflowerblue;
  min-height: 100vh;
  font-size: 1.8rem;
  color: rgb(46, 82, 150);
}